  <!-- CURRENT PROJECT BANNER -->
  <section class="News">

    <nav class="News-nav">
      <h2>Recent writings from THE HEAP</h2>

      <section class="News-nav-link-box">

        <!-- currently we don't need filtered until we have more content -->
        <!-- <span> Sort By: </span> -->
        <!-- <ul> -->
        <!-- <li>Articles</li> -->
        <!-- <li>Project Briefs</li> -->
        <!-- </ul> -->
        <!-- </section> -->
    </nav>

    <section class="News-main">
    {{ range (where .Data.Pages "Section" "article") }}
      <div class="News-singlePost">
          <div class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
      </div>
    {{ end }}
    </section>

  </section>
