  <!-- CURRENT PROJECT BANNER -->
  <section class="News">

    <nav class="News-nav">
      <h2>News and Writings</h2>

      <section class="News-nav-link-box">

        <!-- currently we don't need filtered until we have more content -->
        <!-- <span> Sort By: </span> -->
        <!-- <ul> -->
        <!-- <li>Articles</li> -->
        <!-- <li>Project Briefs</li> -->
        <!-- </ul> -->
        <!-- </section> -->
    </nav>

    <section class="News-main">
    {{ range (where .Data.Pages "Section" "articles") }}
      <div class="News-singlePost">
          <div class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>

          <section class="date-and-author">
            <div class="author"><a href="{{ .Params.authorLink }}" target="_blank">{{ .Params.author }} |&nbsp </a></div>
            <div class="date">{{ .Date.Format "Jan 2, 2006" }}</div>
          </section>
      </div>
    {{ end }}
    </section>

  </section>
