  <!-- CURRENT PROJECT BANNER -->
  <section class="Current_project">

    {{ range first 1 (where .Data.Pages "Section" "project") }}
    <!--PROJECT TEXT (shows most recent project)-->
    <div class="text-box">
      <h3 class="sub-header">current open source project:</h3>
      <h1><div class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div></h1>

      <h2 class="sub-header">
        <a href=" {{.RelPermalink}}">Get Involved ➟</a>
      </h2>
      <p><a href=" {{.RelPermalink}}">Seriously, do it. </a></p>

    </div>

    {{ end }}

  </section>
