{{ partial "header.html" . }}

<div class="container">
    {{ partial "post-header" . }}
    <article class="post-container">

        <!--Project Image  -->
        {{with .Params.featured_image }}<img class="featured_image" src="{{ . }}"> {{end}}

        <h3>Project Brief</h3>
        {{ .Params.project_brief }}

        <h3>Project Status </h3>
        {{ if .Params.project_active  }}
          <p>This project is being actively run. You should get involved in whatever way you can!</p>
        {{else}}
          <p>This project is not being actively maintained but <strong>is</strong> open to contributions; just note that there may be a different, more active <i>The Heap</i> project occupying maintainer time.
        {{ end }}

        <h3>Contributing</h3>
        <p>To get started with contributing to this project, please refer to our <a href="{{ .Params.contributing_link}}"> CONTRIBUTIONS.md</a> on the github repo</p>

        <h3>Links</h3>
        <li><a href="{{ .Params.repo_link }}">Project Repository</a></li>
        <li><a href="{{ .Params.youtube_link }}">Youtube playlist</a></li>
        <li><a class="subscribeBtn">Subscribe to the newslestter</a></li>

    </article>
</div>
