<!-- This is the home page -->
{{ partial "header.html" . }}

<div class="Home site-content">

  <!-- CURRENT PROJECT BANNER -->
  <section class="current_project">

    {{ range first 1 (where .Data.Pages "Section" "project") }}
    <!--PROJECT TEXT (shows most recent project)-->
    <div class="text-box">
      <h3 class="sub-header">current project:</h3>
      <h1>
        <div class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
      </h1>
    </div>

    <!-- TODO: ? PROJECT Image (recent image) ?-->

    {{ end }}

  </section>

  <!--Articles and Podcast -->
  <section class="articles_podcasts">
    <!--Recent Podcast Episode-->
    <div class="recent_podcasts"></div>

    <!--Recent articles  -->
    <div class="recent_articles"></div>
  </section>

<!--{{ .Content }}-->
</div>

{{ partial "footer.html" . }} 
