.site-header-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  @include header_primary(18px); // the actual text of the header
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  z-index: 1;

  .site_header {
    @include header_primary(26px);
    color: $text-dark;
    padding: 0 2rem;
  }

  .header_logo {
    display: flex;
    align-items: center;
  }
}
