.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    font: $heading-small;
    text-transform: uppercase;
  }

  img {
    padding: 64px 0;
    align-self: center;
    max-width: 100%;
  }

  .container {
    align-self: center;
  }

}
