.Project-list {
  display: flex;
  align-items: center;
  flex-grow: 1;


  .project-box {
    height: 300px;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    &:hover {
      .title_and_date {
        visibility: visible;
      }
    }
  }

  .project-thumbnail {
    width: 100%;
  }

  .title_and_date {
    @include header_primary (18px);
    padding: 10px;
    align-self: flex-end;
    background: rgba( 0, 0, 0, 0.6);
    width: 100%;
    text-align: center;
    visibility: hidden;
  }
}
