$primary-dark: #2c3e50;
$primary-light: #ecf0f1;

$accent-light: #f39c12;
$accent-dark: #16a085;

$text-white: #ecf0f1;
$text-gray: #bbb;
$text-dark: #444;
$text-blue: #3498db;

$font-primary: "Heebo", Arial, Helvetica;
$font-accent: "Heebo";
$font-courier: "Menlo", "Monaco", courier;

// Headings
$heading-primary:  normal  20px/28px $font-primary;
$heading-small:  normal  14px/28px $font-primary;

