<!-- This file handles the list layout for all projects. -->

{{ partial "header.html" . }}
<div class="List">
    <div class="Project-list">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "projects") }} {{ range $paginator.Pages }}
        <a href="{{ .RelPermalink }}">
          <div class="project-box" style="background-image: url({{.Params.thumbnail}}) ">
            <div class="title_and_date"><span>{{ .Title }}</span> <span style="color: #dfdfdf;">| {{ .Date.Format "Jan 2, 2006" }}</span> </div>
          </div>
        </a>
      {{ end }}

    </div>
</div>

{{ partial "footer.html" . }}
