.site-footer {
  background: $primary-dark;
  height: 50px;
  padding: 10px;
  color: $text-white;
  justify-content: space-around;
  align-items: center;
  display: flex;
  @include header_primary(14px);

  @include phone {
    justify-content: center;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .title {
    padding: 0 2rem;
    color: white;
    border: 0;
    border-right: 2px solid white;
    @include phone {
      display: none;
    }
  }
  .footer-link {
    list-style-type: none;
    padding: 0 0 0 2rem;
  }
  // SECTION: Links
  .footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  } 

  .social-icon {
    color: $text-white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    margin-left: 1.6rem;
    width: 30px;
    height: 30px;
    transition: all 0.2s ease;
    &:hover {
      color: $accent-light;
    }
    
  }
}