.site-nav {
  list-style-type: none;
  display: flex;
  align-self: center;
  margin: 0;
  padding: 0;
  .site-nav-item {
    padding: 0 2rem;
  }
  a:hover {
    background: $primary-dark;
    color: $accent-light;
  }

}