<!-- This is the home page -->
{{ partial "header.html" . }}

<style>
.recent_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
</style>

<div class="container">
    <article class="post-container">
        {{ partial "page-header.html" . }}
        {{ partial "page-content.html" . }}

      <div class="recent_box">

        <div class="recent_entries">
          <h2> Recent Projects </h2>
          {{ range first 3 (where .Site.Pages "Section" "projects") }}
          <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
          {{- end }}
        </div>

        <div class="recent_entries">
          <h2> Recent Articles </h2>
          {{ range first 3 (where .Site.Pages "Section" "articles") }}
            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
          {{- end }}
        </div>

      </div>
    </article>
</div>

<!-- {{ partial "footer.html" . }} -->
