{{ partial "header.html" . }}
<div class="List container">
    <h1 class="page-title">{{ .Title }}</h1>

    <!-- create a suimmary -->
    <div class="post-list">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "article") }} {{ range $paginator.Pages }}
        <div class="summary">
          <div class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a> | {{ .Date.Format "Jan 2, 2006" }} </div>
          {{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Summary }}{{ end }}
          <div><a class="read-more" href="{{.RelPermalink}}">Read More &hellip;</a></div>
        </div>
      {{ end }}

    </div>

    {{ partial "footer.html" . }}
</div>
