{{ partial "header.html" . }}

<div class="container">
    {{ partial "post-header" . }}
    <article class="post-container">
        {{ with .Params.featured_image }}<img class="featured_image" src="{{ . }}">{{ end }}

        {{ with .Params.has_subscribe_btn }}
        <h3 style="text-align: center"> Interested in contributing to this project?
          <br>
          <a class="subscribeBtn">SUBSCRIBE</a>
          to THE HEAP's email updates to stay in the loop.
        </h3>
        <hr/>
        {{ end }}

        {{ .Content }}
    </article>
</div>
