<div>
  <!-- Variables -->
  {{ $repo := index .Site.Data.repodata (.Get 0)}}
  {{ $contributors := $repo.contributors}}

  <h3> Repo Data</h3>
  <ul>
    <li>Stars: {{$repo.stars}}</li>
    <li>Forks: {{$repo.forks}}</li>
  </ul>


  <h3> Contributor Data</h3>
  <ul class="CONTRIBUTOR_group">
  {{ range $contributors }}
  <li class="CONTRIBUTOR_single">
    <img class="CONTRIBUTOR_photo" src="{{.avatar_url}}" alt="">
    <div class="CONTRIBUTOR_data">
      <a target="_blank" href="{{.html_url}}">{{.login}}</a>
      <div class="CONTRIBUTOR_amount">Contributions: {{.contributions}}</div>
    </div>
  </li>
  {{ end }}
  </ul>
</div>